{% extends "layout.html" %}

{% block pageTitle %}
Early Years Foundation
{% endblock %}

{% set bodyClasses = "app-home-alt" %}
{% set sectionActive = "public service" %}
{% set primaryNavActive = "service start" %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}

{% include "components/brain-development/breadcrumbs.html" %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">

      {% include "components/brain-development/sidebar.html" %}

      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">The developing brain</h2>

        <p class="govuk-body">The first section of this module will consider the expected pattern of brain and language
          development for children up to 5 years old. </p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

        <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="module-intro">Previous</a>
        <a class="govuk-button align-right" data-module="govuk-button" href="topic-intro">Next</a>

      </div>
    </div>
  </main>
</div>

{{super()}}
{% endblock %}

{% block content %}

{% endblock %}
